.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background-color: #333;
}

.loginSignUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 40rem;
  height: 50rem;
}

.loginSignUpContainer span:first-of-type {
  font-size: xx-large;
}

.loginSignUpContainer input {
  width: 30rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
}

.loginSignUpContainer span:last-of-type {
  font-size: small;
}

