.headerContainer {
    /* background-color: #213363; */
    background-color: #F8F9FA;
    /* max-width: 144rem; */
    width: 100vw;
    height: 12rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    
    @media screen and (max-width: 768px) {
        height: 18rem;
        flex-direction: column;
        padding: 3rem 1rem;
        gap: 2rem;
    }
}

.logo {
    border: solid 3px #e00474;
    border-radius: 3rem;
    width: 40rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.greetingMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.menuSvg {
    @media screen and (max-width: 768px) {
        display: none;
    }
}